<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./index.css">

    <script>
        function imgfileChange() {
            var upload_tip = document.getElementById("upload-tip");
            var img_show = document.getElementById("img-show");
            var imgfile = document.getElementById("imgfile");
            var freader = new FileReader();
            //开始读取指定的Blob中的内容。一旦完成，result属性中将包含一个data: URL格式的Base64字符串以表示所读取文件的内容。
            freader.readAsDataURL(imgfile.files[0]);
            console.log(imgfile.files)
            //处理load事件。该事件在读取操作完成时触发。
            freader.onload = function (e) {
                //  e.target.result;  就是data:image/jpeg;base64,+编码  就相当于直接解码
                img_show.src = e.target.result;
                /*console.log(e.target.result)*/
                img_show.style.display = "block";
                upload_tip.style.display = "none";
            };
        }
    </script>
</head>

<body>
    <div class="container-fluid" id="app">

        <div class="row">
            <!-- <h3 class="title">打造属于自己的照片墙吧！支持单张和多张上传哦~</h3> -->
            <form action="http://localhost:8080/image/filesUpload" method="POST" name="xiangmu" id="xiangmu"
                enctype="multipart/form-data">
                <div>
                    <label for="imgfile" class="img-container">
                        <div class="img-container">
                            <div id="upload-tip">+</div>
                            <img src="" alt="uploadIcon" id="img-show" style="display: none">
                            <input type="file" id="imgfile" ref="myFile" style="display: none" multiple='true'
                                onchange="imgfileChange()">
                        </div>
                    </label>
                    <div class="select-container">
                        <label for="type">请选择你的照片类型: </label>
                        <select id="type" class="select">
                            <option v-for="i in alpha" :key="i.value">{{i.text}}</option>
                        </select>
                    </div>

                    <div class="btn-contariner">

                        <button type="'submit" class="btn">提交</button>
                    </div>
                </div>
                <ul class="result-container">
                    <li v-for='item in imageList' :key='item.name'>
                        <div class="image-item" :style="{'background-image': 'url('+item.url+')'}"></div>
                        <p class="name">{{item.name}}</p>
                        <a class="edit-icon">编辑</a>
                        <a class="edit-icon">删除</a>
                    </li>

                </ul>


            </form>
        </div>

    </div>

</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>

    const app = new Vue({
        el: "#app",
        data: {

        },
        data() {
            return {
                picked: 'A',
                alpha: [
                    { text: '风景', value: '1' },
                    { text: '美女', value: '2' },
                    { text: '汽车', value: '3' },
                    { text: '动漫', value: '4' },
                ],
                imageList: [
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },
                    { url: '../images/01.jpeg', name: 'my name' },

                ]
            }
        },
        methods: {
            savePlaceInfo() {//上传图片
                alert(this.picked);

                console.log(this.place);
                //查找到存放文件的元素。
                let myFile = this.$refs.myFile;
                //type 为 file 的 input 元素内部有一个 files数组，里边存放了所有选择的 file，由于文件上传时，文件可以多选，因此这里拿到的 files 对象是一个数组。
                let files = myFile.files;

                //拿到编码之后的图片数据
                //从 files对象中，获取自己要上传的文件，由于这里是单选，所以其实就是数组中的第一项。
                let file = files[0];
                if (file == null) {
                    alert("还未选择图片");
                    return;
                }

                let formData = new FormData();
                formData.append("file", file);
                formData.append("categoryId", this.picked);
                //axios
                axios({
                    method: 'post',
                    url: 'http://localhost:8080/image/add',
                    data: formData,
                    headers: { 'Content-Type': 'multipart/form-data' },
                }).then((res) => {
                    console.log(res.data);
                });
            },

        }
    })
    var app2 = new Vue({
        el: '#image',
        data: {
            images: [],
            categorys: []
        },
        methods: {
            show: function () {//展示所有的图片
                console.log(111)
                axios({
                    method: 'get',
                    url: 'http://localhost:8080/image/findall',

                }).then((res) => {
                    this.images = res.data.data;


                });

            },
            category: function () {//查询出所有图片的分类
                axios({
                    method: 'get',
                    url: 'http://localhost:8080/image/findCategory',

                }).then((res) => {
                    this.categorys = res.data.data;
                });

            },
            findbycategoryid: function (id) {//分类查询图片

                axios({
                    method: 'get',
                    url: 'http://localhost:8080/image/findbycategoryid?id=' + id,

                }).then((res) => {

                    this.images = res.data.data;


                });

            },
            del: function (id, categoryId) {//根据id删除图片

                axios({
                    method: 'get',
                    url: 'http://localhost:8080/image/delete?id=' + id,

                }).then((res) => {

                    if (res.data.status == 200) {

                        this.findbycategoryid(categoryId);
                    }

                });
            }
        }
    })


</script>
<script type="text/javascript">
    function showImage() {
        var docObj = document.getElementById("doc");
        var imgObjPreview = document.getElementById("preview");
        if (docObj.files && docObj.files[0]) {
            //火狐下，直接设img属性  
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '100px';
            imgObjPreview.style.height = '100px';
            //imgObjPreview.src = docObj.files[0].getAsDataURL();  
            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式  
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
            //IE下，使用滤镜  
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
            //必须设置初始大小  
            localImagId.style.width = "250px";
            localImagId.style.height = "200px";
            //图片异常的捕捉，防止用户修改后缀来伪造图片 
            try {
                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters
                    .item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            } catch (e) {
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
    }
</script>